.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 80% 10%;
}

.container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.header{

  border: 1px solid black;
    background-color:grey;
    display:flex;
    flex-wrap: nowrap;
    font-size: 18;
}

.header a{
     text-decoration: none;
     color:white;
}

.header ul {
  list-style: none;
}

.header li{
    padding: 20px;
}

.header li:hover {
    background:rgba(0,0,0,0.3);
}

#leftlinks{
margin-left:auto;
display: flex;
}

#rightlinks{
margin-right:auto;
display:flex;
  justify-content: space-between;
}

#rightlinks > * {
    margin-right:auto;
    display:flex;
}

#leftlinks > * {
    margin-left:auto;
    display: flex;
}


.footer{
    grid-area: footer;
    background-color: mistyrose;
    display:flex;
}

.content{
grid-column: 3/6;
}

.sidebar{
grid-row: 1 / 3;
background-color: blue;
}

.alert{
    background-color:red;
}


body {
     background-color: #EDFDFB;
      font-family: "Lucida Console", Courier, monospace;
}

.card {display:inline-block;}


.typewriter {
  overflow: hidden;
  white-space: nowrap;
  text-decoration: underline #73C2BE;
  letter-spacing: .1em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.searchicon {
        color: transparent;
           background: #EDFDFB;
       background-clip: text;
        -webkit-background-clip: text;
    font-size: 15px;

}


.sitelogo {
      border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.sitelogo:hover {
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

