{% extends "layout.html" %}

{% block title %}
Edit Profile
{% endblock %}
{% block main %}
<h1>Update {{ profile[0]["name"] }}'s Profile</h1>

<p>Upload new profile picture</p>
<form action="/profile/upload" method="POST" enctype="multipart/form-data" >
    <input type="file" name="file">
<button type="submit" class="btn btn-primary">Upload</button>
</form>

<form action="/profile/edit" method="POST">
<ul>
<li>Years knitting: <input class="form-control" name="years_knitting" value="{{ profile[0]["years_knitting"] }}" required="" type="number"> </li>
<li>Favorite Color:  <input class="form-control" name="favorite_color" value="{{ profile[0]["favorite_color"] }}" required="" type="text"> </li>
<li>About Me: <textarea class="form-control" name="about_me" rows="4" cols="50">{{ profile[0]["about_me"] }}</textarea> </li>
</ul>

<button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}
