{% extends "layout.html" %}

{% block title %}
{{ profile[0]["name"] }}'s Profile
{% endblock %}
{% block main %}
<h1>{{ profile[0]["name"] }}</h1>
<ul>
<li>Years knitting: {{ profile[0]["years_knitting"] }}</li>
<li>Favorite Color: {{ profile[0]["favorite_color"] }}</li>
<li>About Me: {{ profile[0]["about_me"]}}</li>
</ul>

{% if profile[0]["name"] == session['user'] %}
<form action="/profile" method="POST">
<button type="submit" class="btn btn-dark">Edit</button>
</form>
{% elif isfriend == False %}
<form action="/addfriend" method="POST">
<button type="submit" class="btn btn-dark" name="addfriend" value="{{ profile[0]["name"] }}">Add friend</button>
</form>
{% else %}
<p>✅  {{ profile[0]["name"] }}  is in your friends </p>


<form action="/removefriend" method="POST">
<button type="submit" class="btn btn-outline-dark btn-sm" name="removefriend" value="{{ profile[0]["name"] }}">Remove friend</button>
</form>
{% endif %}

<h2>{{ profile[0]["name"] }}'s Friends</h2>

<ul>
    {% for friend in friends %}
    <li><a href="/profile/{{ friend }}">{{ friend }}</a></li>
    {% endfor %}
</ul>



{% endblock %}
