{% extends "layout.html" %}

{% block title %}
Edit Projects.
{% endblock %}
{% block main %}
<h1>Edit {{ user }}'s {{rows[0]["name"]}}</h1>

<form action="/projects/{{ user }}/{{ rows[0]["name"] }}/edit" method="POST" >
    <ul>
    <li class>Name: <input type="text" name="name" value="{{ rows[0]["name"] }}"></li>
    <li class>Yarn: <input type="text" name="yarn" value="{{ rows[0]["yarn"] }}"> </li>
    <li class>Yardage: <input type="number" name="yardage" value="{{ rows[0]["yardage"] }}"></li>
    <li class>Notes: <input type="text" name="notes" value="{{ rows[0]["notes"] }}"></li>
  </ul>
<button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}
