{% extends "layout.html" %}

{% block title %}
Projects.
{% endblock %}
{% block main %}
<div class="row">
<div class="col">

<img class="profilepic" width="150px" src="{{ rows[0]["image"] }}">
</div>
<div class="col">
  <h3>{{ user }}'s {{rows[0]["name"]}}</h3>
{% for row in rows %}
    <ul>
    <li class>Maker: {{ user }} </li>
    <li class>Yarn: {{ row["yarn"] }}</li>
    <li class>Yardage: {{ row["yardage"] }}</li>
    <li class>Notes: {{ row["notes"] }}</li>
  </ul>

{% endfor %}
</div>
<div class="col">


{% if isItLiked == True %}<form action="/projects/{{ user }}/{{ rows[0]["name"] }}/unlike" method="POST">
  <button type="submit" class="btn btn-link btn-like"> ❤️ </button> {% else %} <form action="/projects/{{ user }}/{{ rows[0]["name"] }}/like" method="POST">
  <button type="submit" class="btn btn-link btn-like"> ♡  {% endif %}</button> {{ likes }}
  </form>


{% if session["user"] == user %}

<form  action="/projects/{{ user }}/{{ rows[0]["name"] }}" method="POST" >
<button type="submit" class="btn btn-dark">Edit</button>
<button class="btn btn-danger delete-proj-mini" type="button" data-toggle="modal" data-target="#confirmDelete" data-url="/projects/{{ user }}/{{ rows[0]["name"] }}/delete">Delete</button>

</form>



<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteProject" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  text-white bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLongTitle">Confirm Delete?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your project forever?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <form id="deleteTheProject" action="" method="post">
        <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div>


{% else %}
{% endif %}


</div>
</div>

<footer>
  <script>
  $(document).on("click", ".delete-proj-mini", function(e) {
    e.preventDefault();
    var myUrl = $(this).data('url');
    $("#deleteTheProject").attr('action', myUrl );
    // As pointed out in comments,
    // it is unnecessary to have to manually call the modal.
    // $('#addBookDialog').modal('show');
});
    </script>
    </footer>

{% endblock %}
