{% extends "layout.html" %}

{% block title %}
Projects.
{% endblock %}
{% block main %}
<h1>Projects</h1>
  {% if session.user==user %}
<h2>Submit new project.</h2>
  <a class="btn btn-dark" data-toggle="collapse" href="#newProject" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">New Project</a>
 <div class="collapse multi-collapse" id="newProject">
<form action="/projects/{{ session["user"] }}" method="post">
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Pattern name (required)" type="text" required>
            <input class="form-control" name="yarn" placeholder="Yarn" type="text">
            <input class="form-control" name="yardage" placeholder="Yardage" type="number">
            <textarea class="form-control" name="notes" placeholder="notes" rows="4" cols="50"></textarea>
        </div>
        <button class="btn btn-outline-dark btn-sm" type="submit">Submit Project</button>
    </form>
    </div>
    <br>
    <hr></hr>
{% else %}
    {% endif %}
<h2>{{ user }}'s projects.</h2>
<p>Here's what {{ user }} has been working on:</p>



{% for row in rows %}
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><a href="/projects/{{ user }}/{{ row["name"] }}">{{ row["name"] }}</a></div>
  <div class="card-body">
    <ul>
    <li class>Fiber: {{ row["yarn"] }}</li>
    <li class>Yardage: {{ row["yardage"] }}</li>
    <li class>Weight: {{ row["notes"] }}</li>
  </ul>
  </div>
  </div>
{% endfor %}
{% endblock %}
