{% extends "layout.html" %}

{% block title %}
Projects.
{% endblock %}
{% block main %}
<div class="row">
<div class="col">

<img class="profilepic" width="150px" src="{{ rows[0]["image"] }}">
</div>
<div class="col">
  <h3>{{ user }}'s {{rows[0]["name"]}}</h3>
{% for row in rows %}
    <ul>
    <li class>Maker: {{ user }} </li>
    <li class>Yarn: {{ row["yarn"] }}</li>
    <li class>Yardage: {{ row["yardage"] }}</li>
    <li class>Notes: {{ row["notes"] }}</li>
  </ul>

{% endfor %}
</div>
<div class="col">
  <div class="row">
    <div class="col">

{% if isItLiked == True %}<form action="/projects/{{ user }}/{{ rows[0]["name"] }}/unlike" method="POST">
  <button type="submit" class="btn btn-link btn-like"> ❤️ </button> {% else %} <form action="/projects/{{ user }}/{{ rows[0]["name"] }}/like" method="POST">
  <button type="submit" class="btn btn-link btn-like"> ♡  {% endif %}</button> {{ likes }}
  </form>

  </div>
{% if session["user"] == users %}
<div class="col">
<form  action="/projects/{{ user }}/{{ rows[0]["name"] }}" method="POST" >
<button type="submit" class="btn btn-dark">Edit</button>
</form>
{% else %}
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
